@import url('https://fonts.googleapis.com/css?family=Lora');
/* Body */
* {
  margin: auto;
}
body{
  display: flex;
  flex-direction: column;
  font-family:'Lora', serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.25vw;
}
h1 {
  padding-bottom: 30px;
  padding-left: 0.5em;
  text-align: center;
  font-size: 5vw;
  letter-spacing: 0.5em;
}
h2 {
  font-size: 2.5vw;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.text h2 {
  text-align: center; 
}
.text p {
  text-align: justify;
  margin: auto 2.5em;
  line-height: 1.8em;
}
/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #87aaa3;
}
.logo-img {
  margin-left: 5px;
  width: 25%;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  gap: 50px;
  padding-right: 50px;
  width: 800px;
}
.nav-bar li , a {
  text-decoration: none;
  color: rgb(44, 43, 43);
}
/* Dash */
#dash {
  text-decoration: none;
}
#dash:hover {
  animation-name: dash-move; 
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes dash-move {
  0% { 
    border-bottom: 2px solid rgba(2,74,86,0);
    padding-bottom: 3px;
      }
  100% { 
    border-bottom: 2px solid rgba(2,74,86,255);
    padding-bottom: 3px;
  }
}
/* True Face */
.one-intro {
  display: flex;
  flex-direction: row;
  margin-top: 7%;
  margin-bottom: 100px;
}
.intro-text {
  margin-left: 8%;
  text-align: center;
}
.intro-image {
  width: 90%;
  margin-left: 11.8%;
}
/* Feature */
.two-feature {
  background-color: #87aaa3;
  color: beige;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 100px;
  padding-bottom: 100px;
}
.feature-image img {
  width: 700px;
}
/* Products */
.three-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div .text2 {
margin-top: 100px;
text-align: center;
max-width: 800px;
}
.text2 p {
text-align: justify;
max-width: 600px;
line-height: 1.8em;
}
.images {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 100px;
}
.each-img {
  text-align: center;
}
.each-img img {
  width: 300px;
}

/* Video */
.four-vid {
  margin-bottom: 100px;
}

/* Buy Section */
.five-buy {
  background-color: #87aaa3;
  color: beige;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 500px;
}
.text3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 500px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.text3 p {
  line-height: 1.8em;
}
/* Button */
.cus-info {
  margin-right: 200px;
}
.btn {
  font-family:'Lora', serif;
  padding: 10px;
  border: none;
  background: #196160;;
  color: #feffc2;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 10px;
}
.btn:hover {
  cursor: pointer;
  transition: background 0.6s;
  background: #619251;
  color: #1f3237;
  border-radius: 4px;
}
#email {
  border: none;
  padding: 10px;
  margin: auto 10px auto 0;
  border-radius: 4px;
  font-family:'Lora', serif;
  font-size: 15px;
}
/* Start-up Members */
.six-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.six-members ul {
  display: flex;
  flex-direction: row;
}
/* Footer */
.seven-footer {
  background-color: #87aaa3;
  color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.seven-footer a {
  color: beige;
}
.seven-footer p {
  padding: 2px;
}